*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:15px;
    background: mediumvioletred;
    color:white;

}
ul{
    display: flex;
    gap:15px;
}
li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: mediumturquoise;
    color:black;
}
.film1, .film2{
    width: 48%;
    /* display:grid;
    place-items: center; */
 
}
h2, h3, p{
   margin-bottom:5px;
}
img{
    /* width:50%; */
    width:200px;
    height: 200px;
    object-fit: cover;

}